body{
	background-color: #f4f7fa;
	color: #4E5C6E;
}
.col{
	text-align: center;
	margin: 4px;
}
.col-{
	text-align: center;
	margin: 4px;
}
.menu{
	background-color: white;
	border-bottom: 3px solid #ebeef3;
}
.menu-col{
	height: 40px;
	cursor: pointer;
}
.selected{
	border-bottom: 2px solid #0667d0;
	cursor: default;
}
.big{
	background-color: #fff;
	border: 3px solid #d4dcea;
	text-align: center;
}
.title{
	margin: auto; 
	max-width: 300px;
	text-align: center;
}
.header {
	color: white;
	text-align: center;
	background-color: #0667d0;
	border-right: 7px solid #0962c1;
	border-left: 7px solid #1e77d8;
	border-bottom: 7px solid #0962c1;
	border-top: 7px solid #1e77d8;
}
.border-big {
	border: 3px solid #ebeef3;
	cursor: pointer;
}
.border-big:hover {
	border: 3px solid #ebeef3;
}
.border-big-pressed {
	border: 3px solid #d4dcea;
	cursor: default;
}

p{
	margin: auto; 
	max-width: 300px;
}
a{
	color: black;
}

.price{
	background-color: #fff;
}
.price-number{
	display: inline;
}
.price-change24{
	display: inline;
	white-space: nowrap;
}
.green{
	color: #61CA00;
}
.red{
	color: red;
}
.news-picture{
	max-width: 90%;
}
.news{
	background-color: #fff;
	cursor: pointer;
	padding: 15px;
}
.news:hover{
	border: 3px solid #d4dcea;
}
.author{
	font-style: italic;
}
.bigImageDiv{
	padding: 15px;
	position: relative;
}
.bigImage{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.inline{
	display:inline;
}
.output{
	margin: 2px;
}
.outputImage{
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	display: inline;
	cursor: pointer;
}
.bigcol{
	padding: 0px;
	text-align: left;
	white-space: nowrap;
}

